{% extends 'blog/base.html' %}

{% block content %}
    <div class="actions">
        <a href="{% url 'new_post' %}">+ Add +</a>
        <a href="?page=1">- First Page -</a>
        <a href="?page={{ posts.paginator.num_pages }}">- Last Page -</a>
    </div>

    <form action="" method="GET">
        {% csrf_token %}
        <input type="text" name="search" {% if search %}value='{{ search }}'{% endif %} placeholder="Search by title">
        <button type="submit" class="save btn btn-secondary">Search</button>
    </form>

    {% for post in posts %}
        <article>
            <h2><a href="{% url 'post_details' post.id %}">{{ post.title }}</a></h2>
            <time>Published: {{ post.published_date }}</time>
            <address>Author: {{ post.author }}</address>
        </article>
        <hr>
    {% endfor %}

    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">Previous Page</a> |
    {% else %}
        <a href="#">No Previous Page</a> |
    {% endif %}
    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Next Page</a>
    {% else %}
        <a href="#">No Next Page</a>
    {% endif %}
    <br>
    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
{% endblock %}
