{% extends 'blog/base.html' %}

{% block content %}
    <div class="actions">
        <a href="{% url 'new_post' %}">+ Add +</a>
    </div>
    {% for post in posts %}
        <article>
            <h2><a href="{% url 'post_details' post.id %}">{{ post.title }}</a></h2>
            <time>Published: {{ post.published_date }}</time>
            <address>Author: {{ post.author }}</address>
        </article>
        <hr>
    {% endfor %}

    posts: {{ posts }}<br>
    Has Previous?: {{ posts.has_previous }}<br>
    Has Next?: {{ posts.has_next }}<br>
    Current Page: {{ posts.number }}<br>
    Number of Pages: {{ posts.paginator.num_pages }}<br>
    Previous Page Number: {{ posts.previous_page_number }}<br>
    Next Page Number: {{ posts.next_page_number }}<br><br>

    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">Previous</a>
    {% endif %}

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Next</a>
    {% endif %}

    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
{% endblock %}
